
<%= form_with model: Comment, url: user_post_comments_path(@post.author, @post), class: "form-control",method: :post do |form| %>
    <div class="mb-3">
      <%= form.label :text , class: "form-label" %>
      <%= form.text_area :text, placeholder: "Type your comment here!", rows: 3, required: true,  class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.submit "Save", class: "btn btn-primary" %>
    </div>
    <% end %>